    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    form {
        opacity: 0.8;
        display: inline-block;
        color: white;
        text-align: left;
        background-color: #33212e;
        padding: 10px;
        border-radius: 25px;
        -webkit-box-shadow:0px 0px 5px 5px #FFF3EF ;
        -moz-box-shadow:0px 0px 5px 5px #FFF3EF ;
        box-shadow:0px 0px 5px 5px #FFF3EF ;
    }