header, main, nav, footer, hr {
    text-align: center;
    
}
body {
    /*size: auto;*/
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: black;
    text-align:center;
    color: white;
}

#darkTable {
    border: 20;
    border-color: black;
}

#output {
    border: 20;
    border-color: black;
}

footer{
    font-family: "Times New Roman", Georgia, Serif;
    font-size:.8em;
    width:600px;
    margin:0 auto;
    padding-top:10px;
    color: yellow;
}

form {
    text-align: center;
    border: 10px;
    border-color: black;
    color: red;
}

div {
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: -1;
    border: 10px;
    border-color: black;
}
