header, main, nav, footer, hr {
    text-align: center;
    
}
body {
    size: auto;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: black;
    text-align:center;
    color: white;
}


footer{
    font-family: "Times New Roman", Georgia, Serif;
    font-size:.8em;
    width:600px;
    margin:0 auto;
    padding-top:10px;
    color: yellow;
}

form {
    text-align: center;
    color: red;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

